$textColor: rgb(0, 0, 0);
$backGroundColor: rgb(188, 235, 241);

@mixin center() {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

// @keyframes bounce {
//   0% {
//     bottom: 85px;
//   }
//   100% {
//     bottom: 88%;
//   }
// }

// @keyframes circleLight {
//   0% {
//     opacity: 20%;
//   }
//   100% {
//     opacity: 0%;
//   }
// }
// @keyframes whiteLight {
//   0% {
//     opacity: 100%;
//   }
//   40% {
//     opacity: 0%;
//   }
// }

body {
  background-color: $backGroundColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

p {
  margin: 0px auto;
}

div {
  margin: 0px;
  padding: 0px;
}

.pendulum {
  background-color: rgb(35, 184, 184);
  position: fixed;
  bottom: 100px;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 150;
  border-bottom: 2px solid $textColor;

  // border-bottom: 5px solid black;

  .circle {
    border: 30px solid $textColor;
    border-radius: 100%;
    height: 0px;
    width: 0px;
    position: fixed;
    @include center();
    bottom: 85px;
  }
}

.pendulum::before {
  content: "";
  width: 80px;
  height: calc(100% + 5.5px);
  background-color: rgb(35, 184, 184);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bigC {
  height: 60px;
  width: 60px;
  // background-color: white;
  border-radius: 100%;
  border: 3px solid $textColor;
  opacity: 10%;
  position: absolute;
  bottom: -20px;
  @include center();
  // right: 10px;
}

// .animCircle {
//   animation-name: circleLight;
//   animation-duration: 0.5s;
//   animation-iteration-count: infinite;
// }

// .animation {
//   animation-name: bounce;
//   animation-duration: 0.5s;
//   animation-iteration-count: infinite;
//   animation-direction: alternate;
//   // animation-timing-function: linear;
// }

// .animWhite {
//   animation-name: whiteLight;
//   animation-duration: 1s;
//   animation-iteration-count: infinite;
// }

.controls {
  position: fixed;
  left: 0px;
  bottom: -2px;
  height: 100px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  //   border-color: $textColor;
  //   border-style: solid;
  //   border-width: 2px;

  .tempo-display {
    display: inline-block;
    // position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: 105px;
    // bottom: 15px;
    font-size: 50px;
    // margin-left: px;
    // margin-right: 10px;
    text-align: center;
    color: $textColor;
    // padding-right: 10px;
  }
}

.tempo-btn {
  // position: fixed;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  height: 100%;
  width: 120px;
  font-weight: 800;
  font-size: 50px;
  color: $textColor;
  background-color: $backGroundColor;
  border: none;
  // left: 106px;
  // text-align: center;
  // vertical-align: middle;
  line-height: 30px;
  align-items: center;
  justify-content: center;
}

.play {
  // display: inline-block;
  border-left: 50px solid $textColor;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  // right: 15px;
  // width: 50px;
}

.stop {
  // display: inline-block;
  border: 25px solid $textColor;
  // width: 50px;
}

#onOff {
  // position: fixed;
  display: inline-block;
  // padding-right: 10px;
  // bottom: 43px;
  // width: 0px;
  // height: 0px;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: space-evenly;
}

.pendulum .whiteCdn {
  border: 30px solid white;
  border-radius: 100%;
  height: 0px;
  width: 0px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 85px;
  opacity: 0%;
}
.pendulum .whiteCup {
  border: 30px solid white;
  border-radius: 100%;
  height: 0px;
  width: 0px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 100px;
  opacity: 0%;
}
// .animCircle {
//   -webkit-animation-name: circleLight;
//   animation-name: circleLight;
//   -webkit-animation-duration: 0.5s;
//   animation-duration: 0.5s;
//   -webkit-animation-iteration-count: infinite;
//   animation-iteration-count: infinite;
// }

#myDot {
  // border: 30px solid "red";
  border-radius: 100%;
  height: 60px;
  width: 60px;
  background-color: $textColor;
  position: fixed;
  @include center();
  bottom: 85px;
}
